{
  "branches": [ "main" ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/github",
    "@semantic-release/git"
  ],
  "assets": [
    {
      "path": "/home/runner/work/chromium-project-manager/chromium-project-manager/build.zip",
      "name": "extension-unpacked.zip",
      "label": "Chromium extension to be loaded into browser"
    }
  ]
}